<p>Index Page</p>
{{#if data}}
<p>{{data}}</p>
{{/if}}

{{#if helpre_demo}}
<p>Please check CMD console</p>
<p>We have created "debug" custom handelbar helper for console data.</p>
{{{debug helpre_demo}}}
{{/if}}
<a href="/users/">Layout Demo</a>
</br>
<a href="/users/dynamic-content">Dynamic Content Demo</a>
</br>
<a href="/users/custom-handelbar-helper">Custom Handelbar Helper Demo</a>